*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
.container{
        width: 71%;
    max-width: 1140px;
    margin:0 auto;

}
.color-orenge{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav ul a{
    text-decoration: none;

    font-size: 20px;
    color: #474747;
}
.btn{
    
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;

}

#banner{
    
    margin:47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max width:585px;
    vertical-align: middle;

}

#about .about-container{
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.section-heading{
   max-width: 827px;
   text-align: center; 
   margin:0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info{
    display:flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
}
#skills , #about ,#resume{
    padding-top: 130px;
}

.skill-box{
    display: flex;
    gap:24px;
}
.skill-card{
    padding:30px;
    max-width: 267px;
    box-shadow:0 6px 50px 0 #00000025;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
    
}
.resume-container{
    margin-top:113px;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

.section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#474747;

}
.card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color:#757575;

}
.card-text{
    font-size: 16px;
    line-height: 20px;

    color:#757575;

}
.text-center{
    text-align: center;
   
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container{
    display: flex;
    gap:116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom:30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[ type="text"],.footer-container form input[ type="email"],.footer-container form textarea{
    width:461px;
    padding:18px 31px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:#757575;
}
.hide {
    display: none !important;
}


@media screen and (max-width:576px) {

    .container {
    width: 95%;
}
header {
    background: url(../images/header_bg.png), #FFF8F3;
    background-position: bottom right;
    background-repeat: no-repeat;
}
nav{
    gap: 20px;
}
nav .menu {
    flex-wrap: wrap;
    justify-content: center;

}
#banner {
    margin: 20px;
    gap:20px;
    text-align: center;
}
#banner .banner-img img {
width: 100%;
}
#banner .banner-content h1 {
    font-size: 44px;
}
.btn-group {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #skills , #about ,#resume{
    padding-top: 60px;
}
#about .container {
    padding:20px;
}
#about .about-container .about-info {
    gap:40px;
}
.section-heading h2 {
    font-size: 30px;
}
.resume-container {
    margin-top: 60px;
}
.resume-card {
    margin-right: 10px;
}
.skill-box , .about-info , .footer-container ,
.resume-container , nav ,#banner
{
        flex-direction: column;
}
.skill-box .skill-card{
    max-width: 100%;
}
.footer-container form input[ type="text"], .footer-container form input[ type="email"], .footer-container form textarea {
    width: 100%;
}
    
}